<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ec-hl-cordova-plugin"
    version="1.0.3">

    <name>Juspay-EC-Headless</name>
    <description>A Cordova plugin for the Juspay Express Checkout Headless Android SDK</description>

    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>

    <js-module src="plugin/www/ExpressCheckout.js" name="ExpressCheckout">
        <clobbers target="ExpressCheckout" />
    </js-module>

    <platform name="android">
        <source-file src="plugin/src/android/ExpressCheckout.java" target-dir="src/in/juspay/ec/hybrid/" />
        <framework src="plugin/_plugin-dependencies.gradle" custom="true" type="gradleReference" />
        <config-file target="config.xml" parent="/*">
            <feature name="ExpressCheckout">
                <param name="android-package" value="in.juspay.ec.hybrid.ExpressCheckout" />
            </feature>
        </config-file>
    </platform>

    <platform name="ios">
        <framework src="HyperSDK" type="podspec" spec="0.2.37" />
        <config-file target="config.xml" parent="/*">
            <feature name="ExpressCheckout">
                <param name="ios-package" value="ExpressCheckout" />
            </feature>
        </config-file>
        <header-file src="plugin/src/ios/ExpressCheckout.h" target-dir="ExpressCheckout"/>
        <source-file src="plugin/src/ios/ExpressCheckout.m" target-dir="ExpressCheckout"/>
    </platform>
</plugin>
